@media print {
  @page {
    /* size: 5.08in 7.62in; */
    /* size: 5.08cm 7.62cm; */
    size: auto;
    margin: 0;
  }

  .print-container {
    width: 90%;
    /* width: 5.08cm;
    height: 7.62chm; */
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
  }
  .print-code {
    width: 100%;
    height: 50vh;
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
