<div class="form-group">
  <label for="codeType">* 코드 타입</label>
  <input
    required
    type="text"
    name="codeType"
    id="codeType"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="passportNo">* 여권 번호</label>
  <input
    required
    type="text"
    name="passportNo"
    id="passportNo"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="country">* 국가 코드</label>
  <input
    required
    type="text"
    name="country"
    id="country"
    class="form-control"
  />
</div>

<button type="submit" class="btn btn-primary">코드 생성</button>
