<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Making Rabbit</title>
    <style>
      .container {
        width: 80%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="mb-4 mt-4" >
        <h1 class="mb-4 mt-4">Making Rabbit</h1>
        <img src="http://localhost:3000/images/logo.png" />
      </div>
      <div class="text-muted mb-4">
        <img src="http://localhost:3000/images/<%= imgUrl %>-qr.png" />
      </div>
      <div class="text-muted mb-4">
        <img src="http://localhost:3000/images/<%= imgUrl %>-bar.png" />
      </div>
      <div class="text-muted mb-4"></div>
        <a href="" class="btn btn-info" id="btn-print">프린터</a>
      </div>
    </div>
    <script>
      document.getElementById('btn-print').addEventListener('click', () => {
        window.print();
      });
    </script>
  </body>
</html>
